asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
distro==1.9.0
dj-database-url==0.5.0
Django==4.2.16
docopt==0.6.2
gunicorn==20.1.0
idna==3.8
Jinja2==3.1.4
MarkupSafe==2.1.5
psycopg2==2.9.9
pythondialog==3.5.3
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
whitenoise==6.5.0
